<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>
  
	<div class="wrapper">
  
	  <div class="footer-col-wrapper">
		<div class="footer-col">
		{%- if site.author %}
		  <ul class="contact-list">
			{% if site.author.name -%}
			  <li class="p-name">{{ site.author.name | escape }}</li>
			{% endif -%}
			{% if site.author.email -%}
			  <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
			{%- endif %}	
		  </ul>
		{%- endif %}
		</div>
		<div class="footer-col">
		  <p>{{ site.description | escape }}</p>
		</div>
	  </div>
  
	  <div class="social-links">
		{%- include social.html -%}
	  </div>
  
	</div>
  
  </footer>
<script type="text/javascript">
	// highlight table of contents items if available
	// get all headers referenced in the table of contents
	const anchors =$("#markdown-toc")
		.find("a")
		.toArray()
		.map(a => "#"+a.href.split('#')[1])
		.map(id => $('body').find(id)[0]);
	
	// highlight the lowest scrolled-to anchor
	$(window).scroll(function(){
		var scrollTop = $(document).scrollTop();
		
		// so first set everything to inactive
		for (var i=0; i<anchors.length; i++){
			$('#markdown-toc a[href="#' + $(anchors[i]).attr('id')).parent().removeClass('active');
		}

		// then iterate backwards, matching on the first one and stopping
		for (var i=anchors.length-1; i>=0; i--){
			if (scrollTop > $(anchors[i]).offset().top - 50) {
				$('#markdown-toc a[href="#' + $(anchors[i]).attr('id')).parent().addClass('active');
				break;
			}
		}
	});
</script>
