* {
	font-family: 'Fira Sans', sans-serif;
}

:root {
	--main-bg: #ffffff;
	--main-color: #14213d;
	--lighter-color: #7c7c7c;
	--lightest-color: #abadb4;
	--main-highlight: #ee609c;
	--secondary-highlight: #1d90dd;
	--code-bg: white;
	--code-border: #e5e5e5;
}

html, body {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg);
	color: var(--main-color);
	line-height: 1.5;
}

.post-container {
	margin-top: 10pt;
	display: flex;
	justify-content: center;
	width: 100%;
}

.post, .home {
	width: 100%;
	max-width: 800px;
	padding: 0pt 40pt;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	background-color: var(--main-bg);
	border-radius: 2pt;
}

.orangebar {
	height: 1rem;
	background-image: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
	display: block;
	margin: 0px -40pt;
	border-radius: 2pt 2pt 0pt 0pt;
}

#markdown-toc {
	padding: 0pt 20pt;
	list-style-type: none;
	border-radius: 5px;
}

@media (min-width: 1000pt) {
	#markdown-toc {
		position: sticky;
		top: 20pt;
		height: 0;
		overflow: visible;
		transform: translateX(calc(-100% - 60pt));
		background: var(--main-bg);
		z-index: 1;
		margin: 0;
		width: fit-content;
		transition: transform 0.3s;
	}
}

@media only screen and (max-width: 820px) {
	.post-content, .post, .highlighter-rouge {
		width: calc(100%) + 40pt;
	}

	.page-content {
		padding: 0pt 10pt;
	}

	.post-container {
		width: calc(100% - 16pt);
	}
}

.site-header {
	position: sticky;
	top: 0px;
	z-index: 1;
	color: white;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.header-links {
	margin-left: 20pt;
}

#markdown-toc ol {
	list-style-type: none;	
	padding-left: 20pt;
}

.highlighter-rouge {
	background-color: var(--code-bg);
	padding: 1pt 5pt;
	border-radius: 5px;
	border: 1px solid var(--code-border);
}

.highlighter-rouge code * {
    white-space: nowrap;
}

.highlighter-rouge pre {
    overflow-x: auto;
}

.highlighter-rouge pre code {
    white-space: pre;
}

hr {
	margin: 20pt 0pt;
	max-width: 200pt;
	border-radius: 1px;
	height: 1pt;
	border: none;
	background-image: linear-gradient(to right, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

pre, code, code * {
	font-size: 10pt;
	font-family: 'Fira Code', monospace;
	tab-size: 4;
}

code.language-plaintext {
	padding: 1px 5px !important;
	font-size: inherit;
}


h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0;
	color: black;
}

ol, ul, p {
	margin-top: 5pt;
	margin-bottom: 2pt;
}

.post ul {
	list-style: none;
	padding-left: 10pt;
}

.post ul > li::before {
	content: "‧";
	padding-right: 5px;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border-radius: 5px;
}

h1 {
	font-size: 50pt;
	border-radius: 5px 5px 0px 0px;
	margin-left: -40pt;
	margin-right: -40pt;
	text-transform: uppercase;
	margin-top: 0pt;
	padding: 1rem;
	padding-left: 40pt;
	color: white;
	background-image: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
}

h2 {
	margin-top: 10pt;
	font-size: 30pt;
	background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2::before {
	content: "∷ ";
}

h3 {
	font-size: 20pt;
	margin-top: 16pt;
}

h4 {
	font-size: 18pt;
	/* font-family: 'Edu VIC WA NT Beginner', cursive; */
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 10pt;
	background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h5, h5 * {
	font-size: inherit;
	color: var(--lightest-color);
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

.dt-published {
	font-style: italic;
}

a, a:visited {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	background-image: linear-gradient(to right, #5f72bd 0%, #9b23ea 100%);
	border-radius: 2px;
	color: white;
	text-decoration: none;
}

blockquote {
	border-left: 4px solid var(--code-border);
	margin: 3pt 0;
	padding-left: 10pt;
	color: var(--lighter-color);
}

.post-list li {
	list-style: none;
}

.post-list {
	padding: 0;
	margin-top: 1rem;
}

.page-navigation {
	display: flex;
	height: 10rem;
	align-items: center;
	margin-top: 10rem;
	justify-content: space-between;
	flex-direction: row;
}

.page-navigation .link-container {
	height: 100%;
	width: 50%;
	text-align: center;
	color: var(--lightest-color);
}

#markdown-toc li {
	transition: color 0.1s;
	color: var(--main-color);
}

#markdown-toc .active {
	color: var(--secondary-highlight);
}

.home {
	padding-bottom: 50pt;
}

.post-meta {
	color: var(--lightest-color)
}
